

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
	
}

nav .cat-icon {
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	margin: 5px 5px;
}

nav ul {
	display: inline-block;
	list-style: none;
	padding-left: 10px;

}

nav li {
	display: inline-block;
}

nav li::after {
	content: "|";
	margin-left: 5px;
}

nav a:hover {
	font-size: 20px;
}

/*nav a:visited {
	color: blue;
}*/

main {
	padding-top: 90px;

}

body {
	background: url(images/outerspace_landscape.jpeg);
	background-size: cover;
}

.box {
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	position:relative;
	margin: auto;
	margin-top: 120px;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
}

.spacecat {
	left: -100px;
	top: -100px;
}

.spacedog {
	right: -100px;
	bottom: -100px;
}
